In [1]:
#
# Retrieve records in a list
#
import requests
import pandas as pd

headers = {
        'Authorization': 'Bearer your-API-key',
}

r = requests.get('https://api.airtable.com/v0/appM38HXlEVhxmnqx/flaskdemo?sortField=_createdTime&sortDirection=desc', headers=headers)
print("Status Code:",r.status_code)
print(r.text)
dict = r.json()
a_list = dict['records']
df = pd.DataFrame.from_dict(a_list)
df.head()

Status Code: 200
{"records":[{"id":"recniImRHeWzVdca7","fields":{"lname":"Sze","fname":"Benny","full_name":"Benny Sze","record_id":"recniImRHeWzVdca7"},"createdTime":"2019-09-23T23:48:47.000Z"},{"id":"recuGTXLT0uWteary","fields":{"lname":"Chan","fname":"Joseph","full_name":"Joseph Chan","record_id":"recuGTXLT0uWteary"},"createdTime":"2019-09-23T16:08:03.000Z"},{"id":"recC41RXQdItIVvDM","fields":{"lname":"Suen","student_id":"121212","date_of_birth":"1997-07-01","fname":"Bernard","Pwd":"$2b$12$YZ/WUTrmvLxF7rKjpxbxoeLny6XzmmJ1si8y9Y.1XiF2H6H6C6shu","full_name":"Bernard Suen","record_id":"recC41RXQdItIVvDM"},"createdTime":"2019-09-21T05:46:02.000Z"},{"id":"reczlouWve6Oh1JPv","fields":{"lname":"Wong","student_id":"010585","date_of_birth":"1958-01-28","fname":"Winifred","Pwd":"$2b$12$YZ/WUTrmvLxF7rKjpxbxoeLny6XzmmJ1si8y9Y.1XiF2H6H6C6shu","full_name":"Winifred Wong","record_id":"reczlouWve6Oh1JPv"},"createdTime":"2019-09-20T16:37:52.000Z"},{"id":"rect6erpDSPNty1TN","fields":{"lname":"Trump","student_id":"5354","date_of_birth":"1948-02-21","fname":"Donald","Pwd":"$2b$12$YZ/WUTrmvLxF7rKjpxbxoeLny6XzmmJ1si8y9Y.1XiF2H6H6C6shu","full_name":"Donald Trump","record_id":"rect6erpDSPNty1TN"},"createdTime":"2019-09-19T15:18:41.000Z"},{"id":"rec8vF2VbIgOTdx3F","fields":{"lname":"Lu","student_id":"99999","date_of_birth":"2001-08-22","fname":"Mary","Pwd":"$2b$12$YZ/WUTrmvLxF7rKjpxbxoeLny6XzmmJ1si8y9Y.1XiF2H6H6C6shu","full_name":"Mary Lu","record_id":"rec8vF2VbIgOTdx3F"},"createdTime":"2019-09-19T14:32:08.000Z"}]}

,createdTime,fields,id
0,2019-09-23T23:48:47.000Z,"{'lname': 'Sze', 'fname': 'Benny', 'full_name'...",recniImRHeWzVdca7
1,2019-09-23T16:08:03.000Z,"{'lname': 'Chan', 'fname': 'Joseph', 'full_nam...",recuGTXLT0uWteary
2,2019-09-21T05:46:02.000Z,"{'lname': 'Suen', 'student_id': '121212', 'dat...",recC41RXQdItIVvDM
3,2019-09-20T16:37:52.000Z,"{'lname': 'Wong', 'student_id': '010585', 'dat...",reczlouWve6Oh1JPv
4,2019-09-19T15:18:41.000Z,"{'lname': 'Trump', 'student_id': '5354', 'date...",rect6erpDSPNty1TN

In [14]:
#
# Create record
#

import requests
import pandas as pd

fname = "Tony"
lname = "Choi"
student_id = "786868"
date_of_birth = "2002-02-21"

fields =  {
    "fname": fname,
    "lname": lname,
    "student_id": student_id,
    "date_of_birth": date_of_birth
    }

data = {"fields": fields}

headers = {'Authorization': 'Bearer Bearer your-API-key', 'Content-Type': 'application/json; charset=utf-8'}
r = requests.post('https://api.airtable.com/v0/appM38HXlEVhxmnqx/flaskdemo',json=data,headers=headers)
print("Status Code:",r.status_code)
print(r.text)
dict = r.json()
df = pd.DataFrame.from_dict(dict)
df.head()

Status Code: 200
{"id":"recAgXM3rAhWNt8lU","fields":{"lname":"Choi","student_id":"786868","date_of_birth":"2002-02-21","fname":"Tony","full_name":"Tony Choi","record_id":"recAgXM3rAhWNt8lU"},"createdTime":"2019-09-24T01:11:07.000Z"}

                            createdTime             fields                 id
date_of_birth  2019-09-24T01:11:07.000Z         2002-02-21  recAgXM3rAhWNt8lU
fname          2019-09-24T01:11:07.000Z               Tony  recAgXM3rAhWNt8lU
full_name      2019-09-24T01:11:07.000Z          Tony Choi  recAgXM3rAhWNt8lU
lname          2019-09-24T01:11:07.000Z               Choi  recAgXM3rAhWNt8lU
record_id      2019-09-24T01:11:07.000Z  recAgXM3rAhWNt8lU  recAgXM3rAhWNt8lU

In [16]:
#
# Update record
#
import requests
import pandas as pd
# recAgXM3rAhWNt8lU
fname = "Tony"
lname = "Choi"
student_id = "786868"
date_of_birth = "2002-02-21"

fields =  {
    "fname": fname,
    "lname": lname,
    "student_id": student_id,
    "date_of_birth": date_of_birth
    }

data = {
  "records": [
      {
      "id": "recAgXM3rAhWNt8lU", 
      "fields": fields
      }
  ]
}

headers = {'Authorization': 'Bearer Bearer your-API-key', 'Content-Type': 'application/json; charset=utf-8'}
r = requests.put('https://api.airtable.com/v0/appM38HXlEVhxmnqx/flaskdemo',json=data,headers=headers)
print("Status Code:",r.status_code)
print(r.text)
dict = r.json()
a_list = dict['records']
df = pd.DataFrame.from_dict(a_list)
df.head()

Status Code: 200
{"records":[{"id":"recAgXM3rAhWNt8lU","fields":{"lname":"Choi","student_id":"786868","date_of_birth":"2002-02-21","fname":"Tony","full_name":"Tony Choi","record_id":"recAgXM3rAhWNt8lU"},"createdTime":"2019-09-24T01:11:07.000Z"}]}

,createdTime,fields,id
0,2019-09-24T01:11:07.000Z,"{'lname': 'Choi', 'student_id': '786868', 'dat...",recAgXM3rAhWNt8lU

In [18]:
#
# Delete record
#
import requests
import pandas as pd

headers = {'Authorization': 'Bearer Bearer your-API-key', 'Content-Type': 'application/x-www-form-urlencoded'}
r = requests.delete('https://api.airtable.com/v0/appM38HXlEVhxmnqx/flaskdemo/recAgXM3rAhWNt8lU',headers=headers)
print("Status Code:",r.status_code)
print(r.text)

headers = {
        'Authorization': 'Bearer Bearer your-API-key',
}
r = requests.get('https://api.airtable.com/v0/appM38HXlEVhxmnqx/flaskdemo?sortField =_createdTime&sortDirection=desc', headers=headers)
dict = r.json()
a_list = dict['records']
df = pd.DataFrame.from_dict(a_list)
df.head()

Status Code: 200
{"deleted":true,"id":"recAgXM3rAhWNt8lU"}

,createdTime,fields,id
0,2019-09-19T14:32:08.000Z,"{'lname': 'Lu', 'student_id': '99999', 'date_o...",rec8vF2VbIgOTdx3F
1,2019-09-21T05:46:02.000Z,"{'lname': 'Suen', 'student_id': '121212', 'dat...",recC41RXQdItIVvDM
2,2019-09-23T23:48:47.000Z,"{'lname': 'Sze', 'fname': 'Benny', 'full_name'...",recniImRHeWzVdca7
3,2019-09-19T15:18:41.000Z,"{'lname': 'Trump', 'student_id': '5354', 'date...",rect6erpDSPNty1TN
4,2019-09-23T16:08:03.000Z,"{'lname': 'Chan', 'fname': 'Joseph', 'full_nam...",recuGTXLT0uWteary